@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Titillium+Web:ital,wght@1,200&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,500&display=swap');

@font-face{
    font-family:"Android";
    src: url("../fontes/idroid.otf") format("opentype");
    font-weight: normal;
}

:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;


    --font-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: Android, cursive;   
}

*{
    margin: 0px;
    padding: 0px;
}


body{
    background-color: #c5ebd6;
    font-family: var(--font-padrao);
    text-align: center;
}

a.externo::after{
    content: "\00A0\1f517";
}

header{
    background-color: var(--cor4);
    min-height:150px;
    text-align: center;
    padding-top: 40px;
}


header > h1{
    font-family: var(--fonte-destaque);
    font-size: 3em;
    color: white;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.603);
}

header > p{
        color: white;
        font-family: var(--font-padrao);
        font-size: 1.2em;
        max-width: 500;
        margin: auto;
        padding-right: 10px;
        padding-left: 10px;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.603);
    }
    
nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.623);
    text-align: left;
    

}

nav > a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 1s;
}

nav > a:hover{
    background-color: var(--cor2);
    color: var(--cor4);
}
main{
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.774);
}
main h1{
    color: var(--cor5);
    font-family: var(--fonte-android);
    text-align: left;
}

main h2{
    font-family: var(--fonte-android);
    color: var(--cor4);
    text-align: left;
    font-size: 1.3em;
    background-image: linear-gradient(to right,var(--cor1), transparent);
    text-indent: 8px;
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;

}

main strong{
    color: var(--cor4);
    font-weight: bold; 
    
}

main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;  
}

main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}
main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}
main image{
    width: 1000px;
    
}

div.video{
    background-color: var(--cor4);
    margin: 30px;
    padding: 20px;
    
    
    position: relative;
   
}

div.video > iframe{
   width: 90%;
  
}


ul{
    text-align: left;
    
}

aside h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -1opx;
    border-radius: 10px 10px 0px 0px;
}

aside > ul{
    list-style: inside;
    list-style-type:"\2714\00A0\00A0";
    columns: 2;

}

aside{
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.589);
}
footer{
    background-color: var(--cor5);
    color: white;
    padding: 5px;
    
}

footer a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor1);

}
